html {
	font-size: 16px;
	background: #eeeeee;
}

h1, h2, h3, .liteBriteApp__colorSelect button {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
}

h1 {
	font-size:  1rem;
}

h2 {
	font-size:  1.1rem;
}

.liteBriteApp__container button {
	cursor: pointer;
}

.liteBriteApp__container, .liteBriteApp__workspace, .liteBriteApp__panel, .liteBriteApp__colorGrid, .liteBriteApp__colorRow, .liteBriteApp__colorCell, .liteBriteApp__colorSelect {
	box-sizing: border-box;
}

.liteBriteApp__container {
	background: #888888;
}

.liteBriteApp__workspace, .liteBriteApp__panel {
	display: block;
	margin: 0;
	width: 100%;
}

.liteBriteApp__colorGrid, .liteBriteApp__colorCell {
	background: #3c3c3c;
}

.liteBriteApp__colorGrid {
	border-radius: 50%;
	border: 2.5vw solid #eee;
	margin: 0 auto;
	padding: 0.9vw 0;
	width: 100%;
	min-width: 900px;
}

.liteBriteApp__colorGrid--portrait {
	margin-top: 5vw;
	margin-bottom: 5vw;
	transform: rotate(90deg);
}

.liteBriteApp__colorRow {
	width: 100%;
	text-align: center;
}

.liteBriteApp__colorCell {
	border: 0;
	margin: 0;
	padding: 0.2vw 0.35vw;
	line-height: 0.5vw;
	font-size: 1.1vw;
}

.liteBriteApp__panel {
	padding: 0 1vw 1vw 1vw;
	background: #3c3c3c;
	color: #f3f3f3;
}

.liteBriteApp__colorList {
	margin: 0 0 2rem 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.liteBriteApp__colorSelect {
	display: inline-block;
	vertical-align: top;
	border: 8px solid transparent;
	margin: 0;
	padding: 0.2em;
	width: 50%;
}

.liteBriteApp__colorSelect--selected {
	border-color: #dddddd;
	font-weight: bold;
}

.liteBriteApp__colorSelect--None button {
	color: #f3f3f3;
}

.liteBriteApp__colorSelect button {
	border: 0;
	padding: 1rem;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
}

.liteBriteApp__colorCount {
	display: block;
	float: right;
}

.liteBriteApp__colorCount--negative {
	color: #dd2222;
}

@media (min-width: 1400px) {
	.liteBriteApp__workspace, .liteBriteApp__panel {
		display: inline-block;
		vertical-align: top;
	}

	.liteBriteApp__workspace {
		padding: 2vw 7vw;
		width: 75%;
	}

	.liteBriteApp__colorCell {
		padding: 0.2vw;
		font-size: 0.95vw;
	}

	.liteBriteApp__panel {
		width: 25%;
	}
}

@media (min-width: 1860px) {
	.liteBriteApp__colorCell {
		font-size:  0.88vw;
	}
}